*,
body,
ol,
ul {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    z-index: 0;
}

body {
    font-size: 0.75em;
}

#matrix-root {
    width: 100%;
    height: 100%;

    * {
        width: 100%;
        height: 100%;
    }

    main {
        position: static;
    }

    ol,
    ul {
        list-style: none;
    }

    .setting {
        height: 4%;
        margin-bottom: 1%;

        ul {
            li {
                &.edit {
                    width: 4%;
                    float: left;
                    font-size: 250%;
                    text-align: center;

                    .switch {
                        display: block;
                        opacity: .5;
                        background-color: white;

                        &.on {
                            opacity: 1;
                            background-color: red;
                        }

                        &:hover {
                            opacity: 1;
                        }

                        &:after {
                            content: "≡";
                            color: black;
                            font-family: Helvetica, Arial, sans-serif;
                        }
                    }
                }
            }
        }
    }

    ol.container {
        height: 94%;
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 0 1%;
            background-color: lightgray;
            position: relative;

            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: scroll;
            }

            .remove {
                position: absolute;
                left: 96%;
                width: 1%;
                height: 1%;
                overflow: visible;
                color: gray;
                font-weight: bold;
                z-index: 2;

                &:after {
                    content: "×";
                }

                &:hover {
                    color: black;
                    cursor: default;
                }
            }
        }

        &.container-1,
        &.container-2,
        &.container-3,
        &.container-4 {
            li {
                width: 48%;
                height: 48%;

                .remove {
                    left: 98%;
                }
            }

            iframe {
                zoom: .48;
            }
        }

        &.container-5,
        &.container-6,
        &.container-7,
        &.container-8 {
            li {
                width: 23%;
                height: 48%;
            }

            iframe {
                zoom: .23;
            }
        }

        &.container-10,
        &.container-11,
        &.container-12,
        &.container-9 {
            li {
                width: 23%;
                height: 31%;
            }

            iframe {
                zoom: .23;
            }
        }

        &.container-13,
        &.container-14,
        &.container-15,
        &.container-16 {
            li {
                width: 23%;
                height: 23%;
            }

            iframe {
                zoom: .23;
            }
        }

        form.control {
            position: absolute;
            height: 10%;
            top: 91%;
            background-color: white;

            &.add {
                > * {
                    position: static;
                    height: 60%;
                    margin: 1% 0;
                }
                input[type="url"] {
                    width: 80%;
                    float: left;
                }
                button {
                    width: 17%;
                    margin-left: 1%;
                    border: none;
                    border-radius: 10%;
                    font-weight: bold;
                    color: white;
                    background-color: rgb(70,136,241);

                    &:hover {
                        background-color: rgb(63,123,228);
                    }
                }
            }
        }
    }

    .overlap {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        background-color: gray;
        opacity: .6;
        text-align: center;

        &:after {
            position: relative;
            content: "Click to continue.";
            color: black;
            font-size: 400%;
            top: 45%;
            margin: 0 30%;
            width: 40%;
            opacity: .8;
        }
    }

    .hidden {
        display: none;
    }
}
